#Answer 1

In [ ]:
nl=[]
for x in range(2000, 3200):
    if (x%7==0) and (x%5!=0):
        nl.append(str(x))
print (','.join(nl))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

# Answer 3

In [ ]:
n = int(input())
d = dict()
for i in range(1,n+1):
    d[i] = i * i
print(d)

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

# Answer 5

In [ ]:
class IOString():
    def __init__(self):
        self.str1 = ""

    def get_String(self):
        self.str1 = input()

    def print_String(self):
        print(self.str1.upper())

str1 = IOString()
str1.get_String()
str1.print_String()

new
NEW

# Answer 6

In [ ]:
import math
c=50
h=30
value = []
items=[x for x in input().split(',')]
for d in items:
    value.append(str(int(round(math.sqrt(2*c*float(d)/h)))))
print(','.join(value))

100,150,180
18,22,24

#Answer 7

In [ ]:
row_num = int(input("Input number of rows: "))
col_num = int(input("Input number of columns: "))
multi_list = [[0 for col in range(col_num)] for row in range(row_num)]

for row in range(row_num):
    for col in range(col_num):
        multi_list[row][col]= row*col

print(multi_list)

Input number of rows: 4
Input number of columns: 4
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6], [0, 3, 6, 9]]

#Answer 8

In [ ]:
i = input("enter the items : ")
items = [x for x in i.split(',')]
items.sort()
print (','.join(items))

enter the items : without,hello,bag,world
bag,hello,without,world

#Answer 9

In [ ]:
lines = []
while True:
    l = input("enter the input : ")
    if l:
        lines.append(l.upper())
    else:
        break;

for l in lines:
    print(l)

enter the input : Hello world
enter the input : Practice makes perfect
enter the input :
HELLO WORLD
PRACTICE MAKES PERFECT

#Answer 11

In [ ]:
items = []
num = [x for x in input().split(',')]
for p in num:
    x = int(p, 2)
    if not x%5:
        items.append(p)
print(','.join(items))

0100,0011,1010,1001
1010

#Answer 13

In [ ]:
s = input("Input : ")
d=l=0
for c in s:
    if c.isdigit():
        d=d+1
    elif c.isalpha():
        l=l+1
    else:
        pass
print("Letters", l)
print("Digits", d)

Input : hello world! 123
Letters 10
Digits 3

#Answer 14

In [20]:
string = input("enter : ")
upper = 0
lower = 0
for x in string:
    if x.isupper() == True:
        upper += 1
    if x.islower() == True:
        lower += 1

print("UPPER CASE: ", upper)
print("LOWER CASE: ", lower)

enter : Hello world!
UPPER CASE:  1
LOWER CASE:  9

#Answer 15

In [21]:
a = input("enter input : ")
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
n4 = int( "%s%s%s%s" % (a,a,a,a) )
print(n1+n2+n3+n4)

enter input : 9
11106

#Answer 17

In [22]:
import sys
netAmount = 0
while True:
    s = input("enter input :")
    if not s:
        break
    values = s.split(" ")
    operation = values[0]
    amount = int(values[1])
    if operation=="D":
        netAmount+=amount
    elif operation=="W":
        netAmount-=amount
    else:
        pass
print (netAmount)

enter input :D 300
enter input :D 300
enter input :W 200
enter input :D 100
enter input :
500

#Answer 18

In [23]:
import re
value = []
items = [x for x in input().split(',')]
for p in items:
    if len(p) < 6 or len(p) > 12:
        continue
    else:
        pass
    if not re.search("[a-z]",p):
        continue
    elif not re.search("[0-9]",p):
        continue
    elif not re.search("[A-Z]",p):
        continue
    elif not re.search("[$#@]",p):
        continue
    elif re.search("\s",p):
        continue
    else:
        pass
    value.append(p)
print (",".join(value))

ABd1234@1,a F1#,2w3E*,2We3345
ABd1234@1

#Answer 21

In [30]:
import math
pos = [0,0]
while True:
    s = input()
    if not s:
        break
    movement = s.split(" ")
    direction = movement[0]
    steps = int(movement[1])
    if direction=="UP":
        pos[0]+=steps
    elif direction=="DOWN":
        pos[0]-=steps
    elif direction=="LEFT":
        pos[1]-=steps
    elif direction=="RIGHT":
        pos[1]+=steps
    else:
        pass

print (round(math.sqrt(pos[1]**2+pos[0]**2)))

UP 5
DOWN 3
LEFT 3
RIGHT 2

2

#Answer 23

In [31]:
def square(num):
    return num ** 2
print (square(2))
print (square(3))

4
9

#Answer 24

In [32]:
print (abs.__doc__)
print (int.__doc__)
print (input.__doc__)
def square(num):
    return num ** 2
print (square(2))
print (square.__doc__)

Return the absolute value of the argument.
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4
Forward raw_input to frontends

        Raises
        ------
        StdinNotImplentedError if active frontend doesn't support stdin.

4
None

#Answer 25

In [33]:
class Person:
    name = "Person"
    def __init__(self, name = None):
        self.name = name
Aashi = Person("Aashi")
print("%s name is %s" % (Person.name, Aashi.name))
nico = Person()
nico.name = "Nico"
print ("%s name is %s" % (Person.name, nico.name))

Person name is Aashi
Person name is Nico

#Answer 26

In [34]:
def SumFunction(number1, number2):
	return number1 + number2
print (SumFunction(4,6))

10

#Answer 27

In [35]:
def printValue(n):
	print (str(n))
printValue(3)

3

#Answer 28

In [36]:
def printValue(s1,s2):
	print (int(s1) + int(s2))
printValue("3","4")

7

#Answer 29

In [37]:
def printValue(s1,s2):
	print(s1 + s2)
printValue("2","2")

22

#Answer 30

In [38]:
def printValue(s1,s2):
	len1 = len(s1)
	len2 = len(s2)
	if len1 > len2:
		print (s1)
	elif len2 > len1:
		print (s2)
	else:
		print (s1)
		print (s2)
printValue("one","three")

three

#Answer 31

In [39]:
def printDict():
	d=dict()
	for i in range(1,21):
		d[i]=i**2
	print (d)
printDict()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

#Answer 32

In [40]:
def printDict():
	d=dict()
	for i in range(1,21):
		d[i]=i**2
	for k in d.keys():
		print (k)
printDict()

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

#Answer 38

In [46]:
tp = (1,2,3,4,5,6,7,8,9,10)
tp1 = tp[:5]
tp2 = tp[5:]
print (tp1)
print (tp2)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

#Answer 40

In [48]:
s= input()
if s=="yes" or s=="YES" or s=="Yes":
    print ("Yes")
else:
    print ("No")

new
No

#Answer 47

In [51]:
class Circle(object):
    def __init__(self, r):
        self.radius = r
    def area(self):
        return self.radius**2*3.14
Circle = Circle(2)
print (Circle.area())

12.56

#Answer 48

In [52]:
class Rectangle(object):
    def __init__(self, l, w):
        self.length = l
        self.width  = w
    def area(self):
        return self.length*self.width
Rectangle = Rectangle(2,10)
print (Rectangle.area())

20

#Answer 51

In [55]:
def throws():
    return 5/0
try:
    throws()
except ZeroDivisionError:
    print ("division by zero!")
except Exception as err:
    print ("Caught an exception")
finally:
    print ("cleanup")

division by zero!
cleanup

#Answer 53

In [56]:
import re
email = "john@google.com"
pattern = "(\w+)@\w+.com"
ans = re.findall(pattern,email)
print(ans)

['john']

#Answer 54

In [57]:
import re
email = "john@google.com "
pattern = "\w+@(\w+).com"
ans = re.findall(pattern,email)
print(ans)

['google']

#Answer 55

In [58]:
sentence = input().split()
ans = [sentence for sentence in sentence if sentence.isdigit()] 
print(ans)

2 cats and 3 dogs
['2', '3']

#Answer 56

In [59]:
unicodeString = u"Hello Ashika!"
print (unicodeString)

Hello Ashika!

#Answer 57

In [60]:
sen = input()
out = sen.encode('utf-8')
print(out)

aashi
b'aashi'

#Answer 58

In [61]:
# -*- coding: utf-8 -*-

#Answer 59

In [62]:
num = int(input())
sum = 0
for i in range(1, num+1):
    sum+= i/(i+1)
print(round(sum, 2))

5
3.55

#Answer 60

In [63]:
def fun(n):
    if n == 0:
        return 0
    return fun(n-1) + 100
n = int(input())
print(fun(n))

5
500

#Answer 61

In [64]:
def fun(n):
    if n < 2:
        return n
    return fun(n-1) + fun(n-2)
n = int(input())
print(fun(n))

7
13

#Answer 62

In [65]:
def fib(n):
    if n < 2:
      return n
    else:
	    return fib(n-1)+fib(n-2)
def print_fiblist(n):
    fib_list = [(str(fib(i))) for i in range(0, n+1)]
    return print(",".join(fib_list))
n = int(input())
print_fiblist(n)

7
0,1,1,2,3,5,8,13

#Answer 63

In [66]:
n = int(input())
for i in range(0, n+1, 2):
  if i < n - 1:
    print(i, end = ',' )
  else:
    print(i)

10
0,2,4,6,8,10

#Answer 64

In [67]:
def function(n):
    for i in range(n+1):
        if i % 35 == 0:   
            yield i
n = int(input())
com = [str(i) for i in function(n)]
print(",".join(com))

100
0,35,70

#Answer 65

In [69]:
list1 = [2,4,6,8,10]
for i in list1:
    assert i%2==0

#Answer 67

In [75]:
def binary_search(lst, item):
    low = 0
    high = len(lst) - 1
    
    while low <= high:
        mid = round((low + high) / 2)
        
        if lst[mid] == item:
            return mid
        elif lst[mid] > item:
            high = mid - 1
        else:
            low = mid + 1
    return None
    
lst = [1,3,5,7,]
print(binary_search(lst, 9))

None

#Answer 68

In [76]:
import random
randomnum = random.uniform(10,100)
print(randomnum)

45.23508548548149

#Answer 69

In [77]:
import random
print (random.random()*100-5)

35.906552731339865

#Answer 70

In [78]:
import random
out = [i for i in range(0,11,2)]
print(random.choice(out))

6

#Answer 71

In [79]:
import random
out = [i for i in range(10,151) if i % 35 == 0 ]
print(random.choice(out))

35

#Answer 72

In [80]:
import random
print (random.sample(range(100,201), 5))

[126, 141, 196, 185, 195]

#Answer 73

In [81]:
import random
out = random.sample(range(100,201,2),5)
print(out)

[134, 182, 104, 164, 142]

#Answer 74

In [83]:
import random
list1 = [i for i in range(1,1001) if i%35 == 0]
out = random.sample(list1,5)
print(out)

[280, 665, 420, 175, 945]

#Answer 75

In [85]:
import random
print (random.randrange(7,16))

15

#Answer 77

In [86]:
import time
time1 = time.time()
for i in range(100):
    x = 1 + 1
time2 = time.time()
time = time2 - time1
print(time)

8.940696716308594e-05

#Answer 78

In [87]:
import random
list1 = [3,6,7,8]
random.shuffle(list1)
print(list1)

[7, 3, 8, 6]

#Answer 79

In [88]:
subjects=["I", "You"]
verbs=["Play", "Love"]
objects=["Hockey","Football"]
for x in subjects:
    for y in verbs:
        for z in objects:
            print("{} {} {}".format(x,y,z))

I Play Hockey
I Play Football
I Love Hockey
I Love Football
You Play Hockey
You Play Football
You Love Hockey
You Love Football

#Answer 80

In [89]:
list1 = [5,6,77,45,22,12,24]
list1 = [x for x in list1 if x%2!=0]
print (list1)

[5, 77, 45]

#Answer 81

In [90]:
list1 = [12,24,35,70,88,120,155]
list1 = [x for x in list1 if x%5!=0 and x%7!=0]
print (list1)

[12, 24, 88]

#Answer 82

In [91]:
li = [12,24,35,70,88,120,155]
li = [x for (i,x) in enumerate(li) if i%2 != 0 and i <= 6]
print (li)

[24, 70, 120]

#Answer 84

In [92]:
array = [[ [0 for col in range(8)] for col in range(5)] for row in range(3)]
print (array)

[[[0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0]], [[0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0]], [[0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0]]]

#Answer 85

In [93]:
li = [12,24,35,70,88,120,155]
li = [li[i] for i in range(len(li)) if i not in (0,4,5)]
print(li)

[24, 35, 70, 155]

#Answer 86

In [94]:
li = [12,24,35,24,88,120,155]
li.remove(24)
print(li)

[12, 35, 24, 88, 120, 155]